/*
Theme Name: Gefahrstoff
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-3ywbvw");
  src: url("fonts/icomoon.eot?#iefix-3ywbvw") format("embedded-opentype"), url("fonts/icomoon.ttf?-3ywbvw") format("truetype"), url("fonts/icomoon.woff?-3ywbvw") format("woff"), url("fonts/icomoon.svg?-3ywbvw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-profile-female:before {
  content: "\e607"; }

.icon-profile-male:before {
  content: "\e608"; }

.icon-icon-schritt3:before {
  content: "\e606"; }

.icon-icon-schritt1:before {
  content: "\e604"; }

.icon-icon-schritt2:before {
  content: "\e605"; }

.icon-info:before {
  content: "\e609"; }

.icon-download:before {
  content: "\e600"; }

.icon-phone:before {
  content: "\e601"; }

.icon-chevron-right:before {
  content: "\e602"; }

.icon-chevron-left:before {
  content: "\e603"; }

.widget:after, .search-form:after, .post-password-form p:after, #header .container-holder:after, .banner-block:after, .headline-block:after, .testimonial .container-holder:after, .gallery .slide-container:after, .gallery .icon-holder:after, .gallery .bg-decors:after, .contact-block:after, .content-block:after, .content-block .two-columns:after, .newsletter-form .columns-holder:after, .newsletter-form .column .row:after, .newsletter-form .radio-list:after, .partners-block:after, .partners-block .block:after, .contact-section .container-holder:after, #footer .container-holder:after {
  content: " ";
  display: block;
  clear: both; }

#nav .nav-drop ul, .content-block .col ul, .newsletter-form .radio-list, .partners-block .logo-list, #footer .footer-links {
  margin: 0;
  padding: 0;
  list-style: none; }

.container-holder, .content-section .header-text, .gallery .slide-container, .gallery .bg-decors {
  max-width: 1030px;
  padding: 0 30px;
  margin: 0 auto; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  max-height: 1000000px; }

ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset {
  margin: 0 0 36px; }

html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  background: none; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

body {
  color: #000;
  font: 24px/1.5 "Raleway", "Arial", "Helvetica", sans-serif;
  background: #fff;
  overflow-y: scroll;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

a {
  text-decoration: underline;
  color: #f57d20;
  outline: none; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

video,
iframe,
object,
embed {
  max-width: 100%; }

input,
textarea,
select {
  font: 100% "Raleway", "Arial", "Helvetica", sans-serif;
  color: #000;
  vertical-align: middle; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  background: #fff;
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid #999;
  padding: 3px 7px; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999; }
  input[type="text"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    color: #999; }
  input[type="text"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #999; }
  input[type="text"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #999; }
  input[type="text"].placeholder,
  input[type="tel"].placeholder,
  input[type="email"].placeholder,
  input[type="url"].placeholder,
  input[type="password"].placeholder,
  input[type="search"].placeholder,
  textarea.placeholder {
    color: #999; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #4d4d4d; }

label {
  vertical-align: middle; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: none;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

h1, h2, h3, h4, h5, h6, b, strong, th {
  font-weight: bold; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 150%; }

h3 {
  font-size: 120%; }

h4 {
  font-size: 110%; }

h5 {
  font-size: 100%; }

h6 {
  font-size: 90%; }

i, cite, em, var, dfn, address {
  font-style: italic; }

u, ins {
  text-decoration: underline; }

s, strike, del {
  text-decoration: line-through; }

blockquote, blockquote:before, blockquote:after, q, q:before, q:after {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 10px;
  margin-left: 36px; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table, caption, tbody, tfoot, thead, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  border: 1px solid #ccc;
  padding: 3px 7px;
  text-align: left;
  vertical-align: top; }

th {
  border-color: #999;
  text-align: center;
  vertical-align: middle; }

ul {
  margin-left: 1px; }

ul, ol {
  padding-left: 3em; }

ul ul,
ul ol,
ol ul,
ol ol {
  padding-left: 3em;
  margin: 0; }

ul > li {
  list-style-type: disc; }

dl dt {
  float: left;
  clear: left;
  padding-right: 4px;
  font-weight: bold; }

pre {
  max-width: 100%;
  overflow: auto; }

.gm-style img {
  max-width: none; }

@media only screen and (min-width: 1025px) {
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none; } }

.widget {
  margin-bottom: 36px; }
  .widget ul {
    padding-left: 2em; }
  .widget select {
    min-width: 150px; }

.comment-form label {
  display: block;
  padding-bottom: 4px; }

.comment-form textarea {
  padding: 3px 4px;
  overflow: auto;
  margin: 0;
  height: 120px;
  min-height: 120px; }

.comment-form textarea,
.comment-form input[type='text'] {
  margin: 0 4px 0 0;
  width: 300px; }

.comment-form input[type='submit'] {
  display: block;
  float: none; }

.post-password-form label {
  display: block; }

.post-password-form input[type='password'] {
  margin: 0 4px 0 0;
  width: 300px; }

.search-form input {
  float: left;
  height: 24px; }
  .search-form input[type='search'] {
    margin: 0 4px 0 0;
    width: 150px; }

.post-password-form input {
  float: left;
  height: 24px; }
  .post-password-form input[type='password'] {
    width: 150px; }

.comment-form input[type='submit'],
.post-password-form input[type='submit'],
.search-form input[type='submit'] {
  background: #000;
  color: #fff;
  height: 24px;
  border: none;
  padding: 0 10px; }
  .comment-form input[type='submit']:hover,
  .post-password-form input[type='submit']:hover,
  .search-form input[type='submit']:hover {
    opacity: 0.8; }

.commentlist {
  margin: 0 0 36px; }
  .commentlist .edit-link {
    margin: 0; }
  .commentlist .avatar-holder {
    float: left;
    margin: 0 36px 4px 0; }

.commentlist-item .commentlist-item {
  padding: 0; }
  @media (min-width: 768px) {
    .commentlist-item .commentlist-item {
      padding: 0 0 0 2em; } }

.comment,
.commentlist-holder {
  overflow: hidden; }

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
  padding-top: 36px; }

.widget_calendar #next {
  text-align: right; }

.gallery-item dt {
  float: none;
  padding: 0; }

.navigation {
  overflow: hidden;
  margin: 0 0 36px; }
  .navigation .next {
    float: left;
    max-width: 50%; }
  .navigation .prev {
    float: right;
    max-width: 50%;
    text-align: right; }

.wp-caption {
  max-width: 100%;
  clear: both;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 36px; }
  .wp-caption img {
    margin: 0;
    vertical-align: top; }
  .wp-caption p {
    margin: 10px 0 0; }

div.aligncenter {
  margin: 0 auto 36px; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left;
  margin: 0 36px 4px 0; }

.alignright {
  float: right;
  margin: 0 0 4px 36px; }

.mejs-container {
  margin-bottom: 36px; }

.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
  height: auto; }

@media (max-width: 1023px) {
  .container-holder {
    padding: 0 10px; } }

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }

#header {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; }
  #header .container-holder {
    padding: 11px 30px 12px; }
    @media (max-width: 1023px) {
      #header .container-holder {
        padding: 12px 10px; } }
  #header .logo {
    float: left;
    width: 160px; }
    @media (max-width: 1023px) {
      #header .logo {
        width: 120px; } }
    #header .logo img {
      display: block; }

#nav {
  float: right;
  text-transform: uppercase;
  padding: 6px 0; }
  #nav .nav-opener {
    display: none; }
  #nav .nav-drop ul {
    font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif; }
    @media (max-width: 1023px) {
      #nav .nav-drop ul {
        font-size: 14px; } }
  #nav .nav-drop li {
    float: left;
    margin: 0 0 0 20px;
    list-style-type: none; }
    @media (max-width: 1023px) {
      #nav .nav-drop li {
        margin: 0 0 0 10px; } }
    #nav .nav-drop li.active a {
      text-decoration: none;
      color: #f57d20; }
      #nav .nav-drop li.active a.btn {
        border-color: #f57d20; }
  #nav .nav-drop a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0; }
    #nav .nav-drop a:hover {
      text-decoration: none;
      color: #f57d20; }
    #nav .nav-drop a.btn {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      border: 2px solid #fff;
      padding: 8px 15px; }
      @media (max-width: 1023px) {
        #nav .nav-drop a.btn {
          padding: 8px 6px; } }
      #nav .nav-drop a.btn:hover {
        border-color: #f57d20; }

main {
  width: 100%; }

.bg-stretch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  margin: 0;
  overflow: hidden; }
  .bg-stretch img {
    width: 100%;
    max-width: none; }

.banner-block {
  width: 100%;
  position: relative;
  display: table;
  table-layout: fixed; }
  .banner-block .text-block {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    padding: 48px 0 0;
    height: 627px; }
  .banner-block .heading {
    position: relative;
    max-width: 900px;
    margin: 0 auto 31px;
    overflow: hidden; }
    .banner-block .heading:before {
      content: "";
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 3px;
      width: 430px;
      transform: translate(-50%, 0); }
  .banner-block h1 {
    font: bold 36px/48px "Montserrat", "Arial", "Helvetica", sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 24px; }
  .banner-block .btn-video {
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 13px 35px 13px 25px;
    min-width: 195px;
    font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
    text-decoration: none;
    position: relative;
    text-align: left; }
    .banner-block .btn-video:hover {
      color: #333;
      border-color: #333; }
    .banner-block .btn-video .icon-chevron-right {
      font-size: 20px;
      line-height: 1;
      position: absolute;
      top: 50%;
      right: 20px;
      margin: -10px 0 0; }

.headline-block .container-holder {
  padding: 55px 30px 64px;
  overflow: hidden; }
  @media (max-width: 1023px) {
    .headline-block .container-holder {
      padding: 55px 10px 64px; } }

.headline-block time {
  display: inline-block;
  vertical-align: top;
  width: 19%;
  text-align: right;
  font-weight: 500;
  color: #f57d20;
  padding: 3px 0 0;
  margin: 0 1% 0 0; }

.headline-block .text-block {
  display: inline-block;
  vertical-align: top;
  width: 79%; }

.headline-block p {
  margin: 0 0 31px; }

.headline-block .btn-holder {
  text-align: center;
  width: 100%; }

.headline-block .btn-more {
  border: 2px solid #333;
  color: #333;
  font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 13px 40px 13px 22px;
  text-align: left;
  min-width: 174px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  position: relative; }
  .headline-block .btn-more:hover {
    text-decoration: none;
    color: #f58127;
    border-color: #f58127; }
  .headline-block .btn-more .icon-chevron-right {
    font-size: 22px;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -11px 0 0; }

.testimonial {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .testimonial.align-right .container-holder {
    max-width: 1140px;
    padding: 35px 30px 45px; }
    @media (max-width: 1023px) {
      .testimonial.align-right .container-holder {
        padding: 35px 10px 45px; } }
  .testimonial.align-right .text-block {
    float: right;
    width: 75%; }
    @media (max-width: 1023px) {
      .testimonial.align-right .text-block {
        width: 100%; } }
  .testimonial.align-right blockquote q {
    margin: 0 0 8px; }
  .testimonial.align-right blockquote cite {
    text-align: center;
    width: 100%;
    display: block; }
  .testimonial .container-holder {
    padding: 36px 30px 40px;
    max-width: 940px; }
    @media (max-width: 1023px) {
      .testimonial .container-holder {
        padding: 36px 10px 40px; } }
  .testimonial .text-block {
    color: #fff;
    width: 75%; }
    @media (max-width: 1023px) {
      .testimonial .text-block {
        width: 100%; } }
  .testimonial blockquote {
    border: 0;
    margin: 0;
    padding: 0; }
    .testimonial blockquote q {
      display: block;
      font-weight: 700;
      text-align: center; }
    .testimonial blockquote cite {
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
      font-style: normal;
      text-align: left; }
      .testimonial blockquote cite a {
        color: #f57d20;
        text-decoration: none;
        font-weight: 500; }
        .testimonial blockquote cite a:hover {
          color: #fff; }

.content-section {
  background: #fff;
  text-align: center;
  overflow: hidden;
  font-size: 22px;
  line-height: 40px;
  position: relative;
  z-index: 1; }
  .content-section:before {
    content: "";
    position: absolute;
    top: 75.5%;
    bottom: -300%;
    right: -9999px;
    left: -9999px;
    background: #e8e8e8;
    z-index: -1;
    transform: rotate(-22deg); }
  .content-section.style-orange {
    background: #f58127;
    color: #fff;
    line-height: 36px; }
    .content-section.style-orange:before {
      content: none; }
    .content-section.style-orange .header-text {
      padding: 55px 30px 13px; }
    .content-section.style-orange h1 {
      margin: 0 0 19px; }
  .content-section .header-text {
    padding: 62px 30px 9px;
    letter-spacing: 1px; }
  .content-section h1 {
    font: 48px/56px "Montserrat", "Arial", "Helvetica", sans-serif;
    margin: 0 0 20px; }
  .content-section p {
    margin: 0 0 20px; }

.gallery {
  width: 100%;
  position: relative;
  padding: 0 0 147px;
  z-index: 4; }
  .gallery.layout-two {
    padding: 0 0 83px; }
    .gallery.layout-two .slide-container {
      padding: 20px 16px 20px 34px; }
    .gallery.layout-two .icon-holder {
      float: right;
      border-color: rgba(255, 255, 255, 0.5); }
      .gallery.layout-two .icon-holder .icon {
        margin: -13px 0 -12px -30px;
        width: 30%; }
      .gallery.layout-two .icon-holder .text {
        width: 68%;
        padding: 20px 0; }
    .gallery.layout-two .img-holder {
      float: left; }
      .gallery.layout-two .img-holder:before {
        left: -12px;
        right: 12px;
        background: #ce3908; }
    .gallery.layout-two .bg-decors {
      text-align: right; }
      .gallery.layout-two .bg-decors img {
        margin: 0 0 -5px; }
        @media (max-width: 1023px) {
          .gallery.layout-two .bg-decors img {
            max-width: 400px; } }
    .gallery.layout-two .btn-prev,
    .gallery.layout-two .btn-next {
      color: #fff;
      top: 8%; }
      .gallery.layout-two .btn-prev:hover,
      .gallery.layout-two .btn-next:hover {
        color: #333; }
  .gallery .mask {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .gallery .slideset {
    float: left;
    width: 99999px; }
  .gallery .slide {
    float: left;
    width: 100%; }
    .gallery .slide.active {
      z-index: 1; }
  .gallery .btn-prev,
  .gallery .btn-next {
    position: absolute;
    top: 19.1%;
    left: 5px;
    z-index: 4;
    font-size: 80px;
    line-height: 1;
    text-decoration: none;
    color: #333; }
    .gallery .btn-prev:hover,
    .gallery .btn-next:hover {
      text-decoration: none;
      color: #f58127; }
  .gallery .btn-next {
    left: auto;
    right: 13px; }
  .gallery .slide-container {
    padding: 20px 16px 20px 44px; }
  .gallery .icon-holder {
    position: relative;
    float: left;
    width: 50.6%;
    border: solid #999;
    border-width: 1px 0;
    text-align: left;
    padding: 0 10px; }
    .gallery .icon-holder .icon {
      display: inline-block;
      vertical-align: middle;
      width: 32%;
      margin: -13px 0 -12px; }
      .gallery .icon-holder .icon img {
        max-width: 140px;
        width: 100%; }
    .gallery .icon-holder .text {
      display: inline-block;
      vertical-align: middle;
      width: 64%;
      font-size: 24px;
      line-height: 36px;
      font-weight: bold; }
      @media (max-width: 1023px) {
        .gallery .icon-holder .text {
          font-size: 18px;
          line-height: 24px; } }
      .gallery .icon-holder .text p {
        margin: 0; }
  .gallery .img-holder {
    float: right;
    width: 46%;
    position: relative; }
    .gallery .img-holder:before {
      content: "";
      background: #cecece;
      position: absolute;
      left: 12px;
      top: 12px;
      right: -12px;
      bottom: -12px;
      z-index: -1; }
  .gallery .bg-decors {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    max-width: 1052px;
    padding: 0 73px 0 44px; }
    .gallery .bg-decors img {
      display: inline-block;
      vertical-align: bottom;
      margin: 0 0 -3px; }
      @media (max-width: 1023px) {
        .gallery .bg-decors img {
          max-width: 260px; } }
      .gallery .bg-decors img.cupboard {
        margin: 0 -8px -10px 0; }

.contact-block {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 24px; }
  .contact-block .container-holder {
    padding: 40px 30px 34px; }
    @media (max-width: 1023px) {
      .contact-block .container-holder {
        padding: 40px 10px 34px; } }
  .contact-block h2 {
    font: 32px/38px "Montserrat", "Arial", "Helvetica", sans-serif;
    margin: 0 0 6px; }
  .contact-block p {
    margin: 0 0 24px; }
  .contact-block .btn-contact {
    border: 2px solid #f57d20;
    display: inline-block;
    vertical-align: top;
    font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
    padding: 13px 10px;
    text-decoration: none;
    min-width: 122px; }
    .contact-block .btn-contact:hover {
      color: #fff;
      border-color: #fff; }

.content-block {
  width: 100%; }
  .content-block .container-holder {
    padding: 60px 30px 30px;
    position: relative; }
    @media (max-width: 1023px) {
      .content-block .container-holder {
        padding: 60px 10px 30px; } }
  .content-block .two-columns {
    padding: 0 20px; }
  .content-block .col {
    float: left;
    clear: left;
    border: 10px solid #f58127;
    padding: 51px 20px 53px;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    width: 430px;
    margin: 0 0 40px; }
    @media (max-width: 1023px) {
      .content-block .col {
        width: 48%; } }
    .content-block .col.style-dark {
      border-color: #333; }
      .content-block .col.style-dark .heading {
        color: #333; }
      .content-block .col.style-dark .btn {
        color: #333;
        border-color: #333; }
        .content-block .col.style-dark .btn:hover {
          color: #f57d20;
          border-color: #f57d20; }
    .content-block .col:nth-child(2n) {
      float: right;
      clear: right; }
    .content-block .col ul {
      padding: 0 0 5px; }
    .content-block .col li {
      list-style-type: none;
      margin: 0 0 11px; }
    .content-block .col p {
      margin: 0 0 24px; }
    .content-block .col.popup-active1 {
      display: block; }
    .content-block .col .popup1 {
      display: none;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 50px 30px; }
      @media (max-width: 1023px) {
        .content-block .col .popup1 {
          padding: 30px 10px; } }
      .content-block .col .popup1 h2 {
        font: 48px/54px "Montserrat", "Arial", "Helvetica", sans-serif;
        color: #f57d20;
        text-align: center;
        margin: 0 0 48px; }
      .content-block .col .popup1 .btn-holder {
        width: 100%;
        text-align: center; }
        .content-block .col .popup1 .btn-holder > a {
          border: 1px solid #999;
          text-transform: uppercase;
          display: inline-block;
          vertical-align: top;
          font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
          color: #999;
          min-width: 147px;
          text-align: center;
          padding: 14px 10px;
          text-decoration: none;
          margin: 0 9px;
          position: relative; }
          .content-block .col .popup1 .btn-holder > a:hover {
            text-decoration: none;
            color: #333;
            border-color: #333; }
          .content-block .col .popup1 .btn-holder > a.btn-download {
            color: #f57d20;
            border-color: #f57d20;
            min-width: 359px;
            padding: 14px 20px 14px 45px; }
            .content-block .col .popup1 .btn-holder > a.btn-download:hover {
              color: #333;
              border-color: #333; }
            .content-block .col .popup1 .btn-holder > a.btn-download .icon-download {
              position: absolute;
              top: 50%;
              left: 20px;
              font-size: 22px;
              line-height: 1;
              margin: -11px 0 0; }
          .content-block .col .popup1 .btn-holder > a.btn-download1 {
            min-width: 216px;
            padding: 14px 10px;
            color: #f57d20;
            border-color: #f57d20; }
            .content-block .col .popup1 .btn-holder > a.btn-download1:hover {
              color: #333;
              border-color: #333; }
  .content-block .articles-holder {
    letter-spacing: -4px;
    margin: 0 -50px 39px; }
    @media (max-width: 1023px) {
      .content-block .articles-holder {
        margin: 0 -20px 30px; } }
    .content-block .articles-holder .article {
      width: 33%;
      display: inline-block;
      vertical-align: top;
      letter-spacing: 0;
      padding: 0 50px;
      font-size: 16px;
      line-height: 26px; }
      @media (max-width: 1023px) {
        .content-block .articles-holder .article {
          padding: 0 20px; } }
    .content-block .articles-holder .icon-holder {
      color: #f57d20;
      font-size: 142px;
      margin: 0 0 38px; }
    .content-block .articles-holder h3 {
      font: 24px/28px "Montserrat", "Arial", "Helvetica", sans-serif;
      text-transform: uppercase;
      margin: 0 0 17px; }
  .content-block .heading {
    font-size: 18px;
    line-height: 24px;
    color: #f58127;
    font: 18px/24px "Montserrat", "Arial", "Helvetica", sans-serif;
    padding: 0 20px;
    margin: 0 0 24px; }
    .content-block .heading h2 {
      font-size: 51px;
      line-height: 57px;
      font-weight: 400;
      margin: 0 0 29px; }
    .content-block .heading .title {
      display: block;
      font-size: 30px;
      line-height: 34px;
      font-weight: normal; }
    .content-block .heading .price {
      display: block;
      font-size: 64px;
      line-height: 68px; }
  .content-block .text-wrap {
    max-width: 260px;
    margin: 0 auto; }
    .content-block .text-wrap p {
      margin: 0 0 28px; }
  .content-block em {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin: -3px 0 35px; }
  .content-block .btn {
    border: 2px solid #f58127;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
    padding: 13px 10px;
    text-decoration: none;
    min-width: 122px; }
    .content-block .btn:hover {
      text-decoration: none;
      color: #333;
      border-color: #333; }

.newsletter-form {
  width: 100%;
  padding: 2px 15px 0;
  margin: 0; }
  .newsletter-form .column {
    float: left;
    width: 47%; }
    .newsletter-form .column + .column {
      float: right; }
    .newsletter-form .column > .form-input {
      width: 100%;
      margin: 0 0 30px; }
      .newsletter-form .column > .form-input.error input[type="text"],
      .newsletter-form .column > .form-input.error input[type="email"] {
        border-color: #f00; }
    .newsletter-form .column .row {
      margin: 0 0 30px; }
      .newsletter-form .column .row .form-input {
        float: left;
        width: 40%; }
        .newsletter-form .column .row .form-input.error input[type="text"],
        .newsletter-form .column .row .form-input.error input[type="email"] {
          border-color: #f00; }
        .newsletter-form .column .row .form-input + .form-input {
          float: right;
          width: 57%; }
  .newsletter-form input[type="text"],
  .newsletter-form input[type="email"] {
    width: 100%;
    border: 1px solid #333;
    font: 16px/21px "Montserrat", "Arial", "Helvetica", sans-serif;
    padding: 12px 16px;
    margin: 0;
    display: block;
    color: #333;
    height: 47px;
    background: #fff;
    outline: none; }
    .newsletter-form input[type="text"]::-webkit-input-placeholder,
    .newsletter-form input[type="email"]::-webkit-input-placeholder {
      color: #999; }
    .newsletter-form input[type="text"]::-moz-placeholder,
    .newsletter-form input[type="email"]::-moz-placeholder {
      opacity: 1;
      color: #999; }
    .newsletter-form input[type="text"]:-moz-placeholder,
    .newsletter-form input[type="email"]:-moz-placeholder {
      color: #999; }
    .newsletter-form input[type="text"]:-ms-input-placeholder,
    .newsletter-form input[type="email"]:-ms-input-placeholder {
      color: #999; }
    .newsletter-form input[type="text"].placeholder,
    .newsletter-form input[type="email"].placeholder {
      color: #999; }
    .newsletter-form input[type="text"]:focus,
    .newsletter-form input[type="email"]:focus {
      border-color: #ff9900;
      box-shadow: 0 0 0 2px #ff9900;
      border-radius: 2px; }
  .newsletter-form .radio-list {
    padding: 0 !important;
    margin: 0 0 30px !important; }
    .newsletter-form .radio-list li {
      list-style-type: none;
      float: left;
      width: 48.4%;
      position: relative;
      height: 47px;
      margin: 0 !important; }
      .newsletter-form .radio-list li + li {
        float: right; }
        .newsletter-form .radio-list li + li label:before {
          content: "\e607"; }
    .newsletter-form .radio-list .jcf-radio {
      width: 100%;
      height: 47px;
      border-radius: 2px;
      border: 1px solid #999; }
      .newsletter-form .radio-list .jcf-radio.jcf-checked {
        background: #ff9900;
        border-color: #ff9900; }
        .newsletter-form .radio-list .jcf-radio.jcf-checked + label {
          color: #fff; }
    .newsletter-form .radio-list label {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      font: 16px/21px "Montserrat", "Arial", "Helvetica", sans-serif;
      padding: 13px 10px;
      color: #999; }
      .newsletter-form .radio-list label:before {
        content: "\e608";
        font-family: "icomoon";
        font-size: 26px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        margin: -3px 22px -3px -5px; }
  .newsletter-form .check-holder {
    margin: 0 0 41px;
    position: relative; }
    @media (max-width: 1299px) {
      .newsletter-form .check-holder {
        text-align: left; } }
  .newsletter-form .tooltip {
    text-decoration: none;
    color: #cdcdcd;
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    line-height: 1;
    margin: 0 0 0 6px; }
    .newsletter-form .tooltip:hover {
      text-decoration: none;
      color: #f58127; }
  .newsletter-form .tooltip-block {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
  .newsletter-form .tooltip-text {
    font-size: 14px;
    line-height: 20px;
    background: #dfdfdf;
    padding: 15px 20px 0;
    width: 310px;
    position: absolute;
    top: -20px;
    left: 50px;
    z-index: 9;
    text-align: left;
    display: none; }
    @media (max-width: 1023px) {
      .newsletter-form .tooltip-text {
        width: 210px;
        font-size: 12px;
        line-height: 16px; } }
    .newsletter-form .tooltip-text:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 12px 10px 0;
      border-color: transparent #dfdfdf transparent transparent;
      position: absolute;
      top: 25px;
      left: -12px; }
    .newsletter-form .tooltip-text p {
      margin: 0 0 15px; }
      .newsletter-form .tooltip-text p mark {
        color: #ff9900; }
  .newsletter-form .captcha {
    margin: 0 0 29px; }

.partners-block {
  background: #1d1d1d; }
  .partners-block .container-holder {
    padding: 36px 30px;
    max-width: 1008px; }
    @media (max-width: 1023px) {
      .partners-block .container-holder {
        padding: 36px 10px; } }
  .partners-block .block {
    overflow: hidden;
    color: #fff;
    margin: 0 0 24px; }
    .partners-block .block .logo {
      float: left;
      width: 228px;
      padding: 13px 0 0;
      margin: 0 27px 0 0; }
    .partners-block .block .text-holder {
      overflow: hidden;
      font: 32px/40px "Montserrat", "Arial", "Helvetica", sans-serif; }
      .partners-block .block .text-holder p {
        margin: 0; }
  .partners-block .logo-list {
    text-align: center; }
    .partners-block .logo-list li {
      list-style-type: none;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px; }
    .partners-block .logo-list a:hover {
      text-decoration: none;
      opacity: 0.8; }

.contact-section {
  position: relative;
  color: #fff; }
  .contact-section .container-holder {
    padding: 54px 30px 70px; }
    @media (max-width: 1023px) {
      .contact-section .container-holder {
        padding: 54px 10px 70px; } }
  .contact-section .contact-form {
    float: left;
    width: 42.4%;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin: 0; }
  .contact-section h2 {
    font: 48px/52px "Montserrat", "Arial", "Helvetica", sans-serif;
    margin: 0 0 8px; }
  .contact-section p {
    margin: 0 0 24px; }
  .contact-section .form-input {
    margin: 0 0 14px;
    border-radius: 3px;
    padding: 3px;
    overflow: hidden; }
    .contact-section .form-input.error input[type="text"],
    .contact-section .form-input.error input[type="email"],
    .contact-section .form-input.error textarea {
      box-shadow: 0 0 3px 3px #f00; }
  .contact-section input[type="text"],
  .contact-section input[type="email"],
  .contact-section textarea {
    width: 100%;
    border: 0;
    background: #fff;
    height: 45px;
    font: 16px/21px "Montserrat", "Arial", "Helvetica", sans-serif;
    padding: 12px 19px;
    color: #333;
    display: block;
    margin: 0; }
    .contact-section input[type="text"]::-webkit-input-placeholder,
    .contact-section input[type="email"]::-webkit-input-placeholder,
    .contact-section textarea::-webkit-input-placeholder {
      color: #999; }
    .contact-section input[type="text"]::-moz-placeholder,
    .contact-section input[type="email"]::-moz-placeholder,
    .contact-section textarea::-moz-placeholder {
      opacity: 1;
      color: #999; }
    .contact-section input[type="text"]:-moz-placeholder,
    .contact-section input[type="email"]:-moz-placeholder,
    .contact-section textarea:-moz-placeholder {
      color: #999; }
    .contact-section input[type="text"]:-ms-input-placeholder,
    .contact-section input[type="email"]:-ms-input-placeholder,
    .contact-section textarea:-ms-input-placeholder {
      color: #999; }
    .contact-section input[type="text"].placeholder,
    .contact-section input[type="email"].placeholder,
    .contact-section textarea.placeholder {
      color: #999; }
    .contact-section input[type="text"]:focus,
    .contact-section input[type="email"]:focus,
    .contact-section textarea:focus {
      box-shadow: 0 0 3px 3px #ff9900; }
  .contact-section textarea {
    width: 100% !important;
    height: 187px;
    min-height: 187px; }
  .contact-section .btn-holder {
    padding: 6px 0 0; }
  .contact-section input[type="submit"] {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    width: 250px;
    height: 50px;
    font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
    padding: 13px 10px;
    text-align: center;
    float: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .contact-section input[type="submit"]:hover {
      text-decoration: none;
      opacity: 0.8; }
  .contact-section .contact-info {
    float: right;
    display: table;
    width: 35%;
    font-size: 18px;
    line-height: 24px; }
    .contact-section .contact-info .holder {
      display: table-cell;
      vertical-align: bottom;
      text-align: right; }
    .contact-section .contact-info .title {
      font-size: 25px;
      line-height: 30px;
      display: block;
      margin: 0 0 21px; }
    .contact-section .contact-info p {
      margin: 0 0 4px; }
    .contact-section .contact-info .tel {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      position: relative; }
      .contact-section .contact-info .tel:hover {
        color: #f57d20; }
      .contact-section .contact-info .tel:before {
        content: "\e601";
        font-family: "icomoon";
        font-size: 26px;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        color: #f57d20;
        margin: 0 10px 0 0; }

.blog-block {
  text-align: center;
  width: 100%;
  padding: 53px 0; }
  .blog-block h2 {
    font: 48px/52px "Montserrat", "Arial", "Helvetica", sans-serif;
    margin: 0 0 31px; }
  .blog-block .carousel {
    position: relative;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 0 70px;
    word-wrap: break-word; }
    @media (max-width: 1023px) {
      .blog-block .carousel {
        padding: 0 40px; } }
    .blog-block .carousel .mask-container {
      max-width: 1110px;
      margin: 0 auto 65px; }
    .blog-block .carousel .mask {
      position: relative;
      overflow: hidden;
      width: 100% !important; }
    .blog-block .carousel .slideset {
      width: 100% !important;
      float: left;
      white-space: nowrap;
      letter-spacing: -4px; }
    .blog-block .carousel .slide {
      width: 33.333% !important;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      text-align: left;
      letter-spacing: 0;
      padding: 0 40px; }
      @media (max-width: 1023px) {
        .blog-block .carousel .slide {
          padding: 0 10px; } }
    .blog-block .carousel .btn-prev,
    .blog-block .carousel .btn-next {
      position: absolute;
      top: 45%;
      left: 5px;
      z-index: 4;
      font-size: 80px;
      line-height: 1;
      margin: -40px 0 0;
      text-decoration: none;
      color: #333; }
      @media (max-width: 1023px) {
        .blog-block .carousel .btn-prev,
        .blog-block .carousel .btn-next {
          left: -10px; } }
      .blog-block .carousel .btn-prev:hover,
      .blog-block .carousel .btn-next:hover {
        text-decoration: none;
        color: #f58127; }
    .blog-block .carousel .btn-next {
      left: auto;
      right: 13px; }
      @media (max-width: 1023px) {
        .blog-block .carousel .btn-next {
          right: -10px; } }
    .blog-block .carousel .img-holder {
      width: 100%;
      margin: 0 0 21px; }
      .blog-block .carousel .img-holder img {
        width: 100%; }
    .blog-block .carousel time {
      font-size: 16px;
      line-height: 20px;
      color: #f58127;
      display: block;
      margin: 0 0 10px; }
    .blog-block .carousel h3 {
      font: 22px/28px "Montserrat", "Arial", "Helvetica", sans-serif;
      margin: 0 0 7px; }
      .blog-block .carousel h3 a {
        text-decoration: none;
        color: #333; }
        .blog-block .carousel h3 a:hover {
          text-decoration: none;
          color: #f58127; }
    .blog-block .carousel p {
      margin: 0 0 28px; }
    .blog-block .carousel .btn {
      font: 16px/21px "Montserrat", "Arial", "Helvetica", sans-serif;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      padding: 10px 30px 10px 18px;
      min-width: 157px;
      border: 2px solid #333;
      color: #333;
      text-decoration: none;
      text-align: left;
      position: relative; }
      .blog-block .carousel .btn:hover {
        text-decoration: none;
        color: #f58127;
        border-color: #f58127; }
      .blog-block .carousel .btn .icon-chevron-right {
        font-size: 22px;
        line-height: 1;
        position: absolute;
        top: 50%;
        margin: -11px 0 0;
        right: 10px; }
  .blog-block .btn-holder {
    text-align: center;
    width: 100%;
    padding: 0 0 11px; }
  .blog-block .btn-all {
    font: 16px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
    color: #fff;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    background: #ff6600;
    padding: 15px 10px;
    text-align: center;
    min-width: 283px;
    text-decoration: none; }
    .blog-block .btn-all:hover {
      text-decoration: none;
      background: #333; }

#footer {
  width: 100%;
  border-width: 1px 0 10px;
  border-style: solid;
  border-color: #ccc 0 #333; }
  #footer.popup-active1 .popup1 {
    max-height: 99999px;
    opacity: 1;
    visibility: visible; }
  #footer.popup-active2 .popup2 {
    max-height: 99999px;
    opacity: 1;
    visibility: visible; }
  #footer .popup1,
  #footer .popup2 {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    display: block !important;
    transition: all 0.4s linear;
    font: 14px/20px "Montserrat", "Arial", "Helvetica", sans-serif;
    border-bottom: 1px solid #333; }
    #footer .popup1 .text-holder,
    #footer .popup2 .text-holder {
      padding: 40px 30px;
      max-width: 1030px;
      margin: 0 auto; }
    #footer .popup1 .title,
    #footer .popup2 .title {
      display: block;
      font-size: 30px;
      line-height: 34px;
      margin: 0 0 20px; }
    #footer .popup1 p,
    #footer .popup2 p {
      margin: 0 0 20px; }
    #footer .popup1 .sub-title,
    #footer .popup2 .sub-title {
      display: block;
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 30px; }
    #footer .popup1 strong,
    #footer .popup2 strong {
      display: block;
      margin: 0 0 20px; }
    #footer .popup1 address,
    #footer .popup2 address {
      font-style: normal; }
  #footer .container-holder {
    max-width: 1096px;
    padding: 19px 30px 20px; }
    @media (max-width: 1023px) {
      #footer .container-holder {
        padding: 19px 10px 20px; } }
  #footer .logo-block {
    float: left;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 0 -60px; }
    #footer .logo-block .footer-logo {
      display: inline-block;
      vertical-align: middle;
      width: 166px;
      margin: 0 12px 0 0; }
    #footer .logo-block span {
      display: inline-block;
      vertical-align: middle; }
  #footer .footer-links {
    float: right;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 0; }
    #footer .footer-links li {
      float: left;
      list-style-type: none; }
      #footer .footer-links li + li {
        margin: 0 0 0 30px; }
    #footer .footer-links a {
      text-decoration: none;
      color: #ff6600; }
      #footer .footer-links a:hover {
        text-decoration: none;
        color: #333; }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #333;
  color: #444;
  text-shadow: none; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("images/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("images/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }
  .fancybox-close:hover {
    opacity: 0.8; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("images/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("images/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/* custom radio styles */
.jcf-radio {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #fff;
  border: 1px solid #777;
  border-radius: 9px;
  margin: 0 3px 0 0;
  height: 16px;
  width: 16px; }

.jcf-radio span {
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 100%; }

.jcf-radio input[type="radio"] {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0; }

.jcf-radio.jcf-checked span {
  display: block; }

/* common custom form elements styles */
.jcf-disabled {
  background: #ddd !important; }

/* custom checkbox styles */
.jcf-checkbox {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #fff;
  border: 2px solid #777;
  margin: 0 16px 0 0;
  height: 33px;
  width: 33px;
  border-radius: 3px; }
  .jcf-checkbox.jcf-checked {
    background: #f58127;
    border-color: #f58127; }

.jcf-checkbox span {
  position: absolute;
  display: none;
  height: 12px;
  width: 20px;
  top: 50%;
  left: 50%;
  margin: -13px 0 0 -10px;
  border: 3px solid #fff;
  border-width: 0 0 5px 5px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')"; }

:root .jcf-checkbox span {
  margin: -8px 0 0 -9px; }

.jcf-checkbox input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0; }

.jcf-checkbox.jcf-checked span {
  display: block; }

/*# sourceMappingURL=style.css.map */