@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-3ywbvw');
	src:url('fonts/icomoon.eot?#iefix-3ywbvw') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-3ywbvw') format('truetype'),
		url('fonts/icomoon.woff?-3ywbvw') format('woff'),
		url('fonts/icomoon.svg?-3ywbvw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-profile-female:before {
	content: "\e607";
}
.icon-profile-male:before {
	content: "\e608";
}
.icon-icon-schritt3:before {
	content: "\e606";
}
.icon-icon-schritt1:before {
	content: "\e604";
}
.icon-icon-schritt2:before {
	content: "\e605";
}
.icon-info:before {
	content: "\e609";
}
.icon-download:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-chevron-right:before {
	content: "\e602";
}
.icon-chevron-left:before {
	content: "\e603";
}
