// brand colors (http://name-of-color.com/)
$black: #000;
$white: #fff;
$mountain-mist: #999;
$ironside-gray: #666;
$mine-shaft: #333;
$tango: #f57d20;
$cadmium-orange: #f58127;


// base variables
$base-text-color: $black;
$base-background-color: $white;
$base-link-color: $tango;
$base-form-text-color: $black;
$base-form-placeholder-color: $mountain-mist;
$base-input-border-color: $mountain-mist;
$base-form-button-bg: $black;
$base-form-button-color: $white;

$base-font-size: 24px;
$base-line-height: 1.5;
$font-sans-serif: 'Arial', 'Helvetica', sans-serif;
$font-primary: 'Raleway', $font-sans-serif;
$font-secondary: 'Montserrat', $font-sans-serif;
$base-text-interval: ($base-font-size * $base-line-height);

$base-min-width: 320px;

// @font-face-serif: 
// @font-face-sans-serif: 
