/// #main { @extend %clearfix; }
/// #content { float: left; width: 70%; }
/// #sidebar { float: right; width: 25%; }

$base-text-interval: 14px !default;
.widget {
	margin-bottom: $base-text-interval;
	@extend %clearfix;
	ul {
		padding-left: 2em;
	}
	select {
		min-width: 150px;
	}
}

.comment-form {
	label {
		display: block;
		padding-bottom: 4px;
	}
	textarea {
		padding: 3px 4px;
		overflow: auto;
		margin: 0;
		height: 120px;
		min-height: 120px;
	}
	textarea,
	input[type='text'] {
		margin: 0 4px 0 0;
		width: 300px;
	}
	input[type='submit'] {
		display: block;
		float: none;
	}
}

.post-password-form {
	label {
		display: block;
	}
	input[type='password'] {
		margin: 0 4px 0 0;
		width: 300px;
	}
}

.search-form {
	@extend %clearfix;
	input {
		float: left;
		height: 24px;
		&[type='search'] {
			margin: 0 4px 0 0;
			width: 150px;
		}
	}
}

.post-password-form {
	p {
		@extend %clearfix;
	}
	input {
		float: left;
		height: 24px;
		&[type='password'] {
			width: 150px;
		}
	}
}

.comment-form,
.post-password-form,
.search-form {
	input[type='submit'] {
		background: $base-form-button-bg;
		color: $base-form-button-color;
		height: 24px;
		border: none;
		padding: 0 10px;
		&:hover {
			opacity: 0.8;
		}
	}
}

.commentlist {
	margin: 0 0 $base-text-interval;
	.edit-link {
		margin: 0;
	}
	.avatar-holder {
		float: left;
		margin: 0 $base-text-interval 4px 0;
	}
}

.commentlist-item {
	.commentlist-item {
		padding: 0;
		@include media(">=tablet") {
			padding: 0 0 0 2em;
			
		}
	}
}

.comment,
.commentlist-holder {
	overflow: hidden;
}

.commentlist-item .commentlist-item,
.commentlist-item + .commentlist-item {
	padding-top: $base-text-interval;
}

.widget_calendar {
	#next {
		text-align: right;
	}
}

.gallery-item {
	dt {
		float: none;
		padding: 0;
	}
}

.navigation {
	overflow: hidden;
	margin: 0 0 $base-text-interval;
	.next {
		float: left;
		max-width: 50%;
	}
	.prev {
		float: right;
		max-width: 50%;
		text-align: right;
	}
}

.wp-caption {
	max-width: 100%;
	clear: both;
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: $base-text-interval;
	img {
		margin: 0;
		vertical-align: top;
	}
	p {
		margin: 10px 0 0;
	}
}

div.aligncenter {
	margin: 0 auto $base-text-interval;
}

img.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignleft {
	float: left;
	margin: 0 $base-text-interval 4px 0; 
}

.alignright {
	float: right;
	margin: 0 0 4px $base-text-interval; 
}

.mejs-container {
	margin-bottom: $base-text-interval;
}

.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
	height: auto;
}
