/*
Theme Name: Gefahrstoff
Author: Anonymous
Author URI:
Version: 1
Description: Base theme for Wordpress
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: base
Tags: one-column, two-columns
Theme URI:
*/

// devices viewport width starts at:
$breakpoints: (
	xs-phone: 320px,
	phone: 480px,
	tablet: 768px,
	desktop: 1024px,
	widescreen: 1300px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

// ligatured operators ≥ ≤

@import "media";
@import "base/fonts";
@import "base/markup-variables";
@import "base/markup-mixins";
@import "base/cms-reset";
@import "base/wp-reset";


.container-holder{
	@extend %center-width;

	@include media('<desktop') {
		padding: 0 10px;
	}
}
#wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
#header{
	background: $mine-shaft;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	.container-holder{
		padding: 11px 30px 12px;
		@extend %clearfix;

		@include media('<desktop') {
			padding: 12px 10px;
		}
	}
	.logo{
		float: left;
		width: 160px;

		@include media('<desktop') {
			width: 120px;
		}

		img{
			display: block;
		}
	}
}
#nav{
	float: right;
	text-transform: uppercase;
	padding: 6px 0;
	.nav-opener{
		display: none;
	}
	.nav-drop{
		ul{
			@extend %listreset;
			font: 16px/20px $font-secondary;

			@include media('<desktop') {
				font-size: 14px;
			}
		}
		li{
			float: left;
			margin: 0 0 0 20px;
			list-style-type: none;

			@include media('<desktop') {
				margin: 0 0 0 10px;
			}

			&.active{
				a{
					text-decoration: none;
					color: $tango;

					&.btn{
						border-color: $tango;
					}
				}
			}
		}
		a{
			color: $white;
			text-decoration: none;
			display: block;
			padding: 10px 0;

			&:hover{
				text-decoration: none;
				color: $tango;
			}

			&.btn{
				text-decoration: none;
				font-size: 14px;
				font-weight: 400;
				border: 2px solid $white;
				padding: 8px 15px;

				@include media('<desktop') {
					padding: 8px 6px;
				}

				&:hover{
					border-color: $tango;
				}
			}
		}
	}
}
main{
	width: 100%;
}
.bg-stretch{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	margin: 0;
	overflow: hidden;
	img{
		width: 100%;
		max-width: none;
	}
}
.banner-block{
	width: 100%;
	position: relative;
	display: table;
	// height: 627px;
	table-layout: fixed;
	@extend %clearfix;
	.text-block{
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		padding: 48px 0 0;
		height: 627px;
	}
	.heading{
		position: relative;
		max-width: 900px;
		margin: 0 auto 31px;
		overflow: hidden;

		&:before{
			content: "";
			background: $white;
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 3px;
			width: 430px;
			transform: translate(-50%,0);
		}
	}
	h1{
		font: bold 36px/48px $font-secondary;
		text-transform: uppercase;
		color: $white;
		margin: 0 0 24px;
	}
	.btn-video{
		border: 2px solid $white;
		text-transform: uppercase;
		color: $white;
		display: inline-block;
		vertical-align: top;
		padding: 13px 35px 13px 25px;
		min-width: 195px;
		font: 16px/20px $font-secondary;
		text-decoration: none;
		position: relative;
		text-align: left;

		&:hover{
			color: $mine-shaft;
			border-color: $mine-shaft;
		}

		.icon-chevron-right{
			font-size: 20px;
			line-height: 1;
			position: absolute;
			top: 50%;
			right: 20px;
			margin: -10px 0 0;
		}
	}
}
.headline-block{
	@extend %clearfix;
	.container-holder{
		padding: 55px 30px 64px;
		overflow: hidden;

		@include media('<desktop') {
			padding: 55px 10px 64px;
		}
	}
	time{
		display: inline-block;
		vertical-align: top;
		width: 19%;
		text-align: right;
		font-weight: 500;
		color: $tango;
		padding: 3px 0 0;
		margin: 0 1% 0 0;
	}
	.text-block{
		display: inline-block;
		vertical-align: top;
		width: 79%;
	}
	p{
		margin: 0 0 31px;
	}
	.btn-holder{
		text-align: center;
		width: 100%;
	}
	.btn-more{
		border: 2px solid $mine-shaft;
		color: $mine-shaft;
		font: 16px/20px $font-secondary;
		text-decoration: none;
		text-transform: uppercase;
		padding: 13px 40px 13px 22px;
		text-align: left;
		min-width: 174px;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
		position: relative;

		&:hover{
			text-decoration: none;
			color: $cadmium-orange;
			border-color: $cadmium-orange;
		}

		.icon-chevron-right{
			font-size: 22px;
			line-height: 1;
			position: absolute;
			top: 50%;
			right: 20px;
			margin: -11px 0 0;
		}
	}
}
.testimonial{
	position: relative;
	width: 100%;
	overflow: hidden;

	&.align-right{
		.container-holder{
			max-width: 1140px;
			padding: 35px 30px 45px;

			@include media('<desktop') {
				padding: 35px 10px 45px;
			}
		}
		.text-block{
			float: right;
			width: 75%;

			@include media('<desktop') {
				width: 100%;
			}
		}
		blockquote{
			q{
				margin: 0 0 8px;
			}
			cite{
				text-align: center;
				width: 100%;
				display: block;
			}
		}
	}

	.container-holder{
		padding: 36px 30px 40px;
		max-width: 940px;
		@extend %clearfix;

		@include media('<desktop') {
			padding: 36px 10px 40px;
		}
	}
	.text-block{
		color: $white;
		width: 75%;

		@include media('<desktop') {
			width: 100%;
		}
	}
	blockquote{
		border: 0;
		margin: 0;
		padding: 0;
		q{
			display: block;
			font-weight: 700;
			text-align: center;
		}
		cite{
			font-size: 18px;
			line-height: 24px;
			font-weight: 300;
			font-style: normal;
			text-align: left;
			a{
				color: $tango;
				text-decoration: none;
				font-weight: 500;

				&:hover{
					color: $white;
				}
			}
		}
	}
}
.content-section{
	background: $white;
	text-align: center;
	overflow: hidden;
	font-size: 22px;
	line-height: 40px;
	position: relative;
	z-index: 1;

	&:before{
		content: "";
		position: absolute;
		top: 75.5%;
		bottom: -300%;
		right: -9999px;
		left: -9999px;
		background: #e8e8e8;
		z-index: -1;
		transform: rotate(-22deg);
	}

	&.style-orange{
		background: $cadmium-orange;
		color: $white;
		line-height: 36px;

		&:before{
			content: none;
		}

		.header-text{
			padding: 55px 30px 13px;
		}
		h1{
			margin: 0 0 19px;
		}
	}

	.header-text{
		@extend %center-width;
		padding: 62px 30px 9px;
		letter-spacing: 1px;
	}
	h1{
		font: 48px/56px $font-secondary;
		margin: 0 0 20px;
	}
	p{margin: 0 0 20px;}
}
.gallery{
	width: 100%;
	position: relative;
	padding: 0 0 147px;
	z-index: 4;

	&.layout-two{
		padding: 0 0 83px;
		.slide-container{
			padding: 20px 16px 20px 34px;
		}
		.icon-holder{
			float: right;
			border-color: rgba(255,255,255,0.5);
			.icon{
				margin: -13px 0 -12px -30px;
				width: 30%;
			}
			.text{
				width: 68%;
				padding: 20px 0;
			}
		}
		.img-holder{
			float: left;

			&:before{
				left: -12px;
				right: 12px;
				background: #ce3908;
			}
		}
		.bg-decors{
			text-align: right;

			img{
				margin: 0 0 -5px;

				@include media('<desktop') {
					max-width: 400px;
				}
			}
		}
		.btn-prev,
		.btn-next{
			color: $white;
			top: 8%;

			&:hover{
				color: $mine-shaft;
			}
		}
	}

	.mask{
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slideset{
		float: left;
		width: 99999px;
	}
	.slide{
		float: left;
		width: 100%;

		&.active{
			z-index: 1;
		}
	}
	.btn-prev,
	.btn-next{
		position: absolute;
		top: 19.1%;
		left: 5px;
		z-index: 4;
		font-size: 80px;
		line-height: 1;
		text-decoration: none;
		color: $mine-shaft;

		&:hover{
			text-decoration: none;
			color: $cadmium-orange;
		}
	}
	.btn-next{
		left: auto;
		right: 13px;
	}
	.slide-container{
		@extend %center-width;
		@extend %clearfix;
		padding: 20px 16px 20px 44px;
	}
	.icon-holder{
		position: relative;
		float: left;
		width: 50.6%;
		border: solid $mountain-mist;
		border-width: 1px 0;
		@extend %clearfix;
		text-align: left;
		padding: 0 10px;
		.icon{
			display: inline-block;
			vertical-align: middle;
			width: 32%;
			margin: -13px 0 -12px;
			img{
				max-width: 140px;
				width: 100%;
			}
		}
		.text{
			display: inline-block;
			vertical-align: middle;
			width: 64%;
			font-size: 24px;
			line-height: 36px;
			font-weight: bold;

			@include media('<desktop') {
				font-size: 18px;
				line-height: 24px;
			}

			p{margin: 0;}
		}
	}
	.img-holder{
		float: right;
		width: 46%;
		position: relative;

		&:before{
			content: "";
			background: #cecece;
			position: absolute;
			left: 12px;
			top: 12px;
			right: -12px;
			bottom: -12px;
			z-index: -1;
		}
	}
	.bg-decors{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: left;
		@extend %center-width;
		@extend %clearfix;
		max-width: 1052px;
		padding: 0 73px 0 44px;
		img{
			display: inline-block;
			vertical-align: bottom;
			margin: 0 0 -3px;

			@include media('<desktop') {
				max-width: 260px;
			}

			&.cupboard{
				margin: 0 -8px -10px 0;
			}
		}
	}
}
.contact-block{
	width: 100%;
	@extend %clearfix;
	background: $mine-shaft;
	color: $white;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	.container-holder{
		padding: 40px 30px 34px;

		@include media('<desktop') {
			padding: 40px 10px 34px;
		}
	}
	h2{
		font: 32px/38px $font-secondary;
		margin: 0 0 6px;
	}
	p{margin: 0 0 24px;}
	.btn-contact{
		border: 2px solid $tango;
		display: inline-block;
		vertical-align: top;
		font: 16px/20px $font-secondary;
		padding: 13px 10px;
		text-decoration: none;
		min-width: 122px;

		&:hover{
			color: $white;
			border-color: $white;
		}
	}
}
.content-block{
	width: 100%;
	@extend %clearfix;
	.container-holder{
		padding: 60px 30px 30px;
		position: relative;

		@include media('<desktop') {
			padding: 60px 10px 30px;
		}
	}
	.two-columns{
		@extend %clearfix;
		padding: 0 20px;
	}
	.col{
		float: left;
		clear: left;
		border: 10px solid $cadmium-orange;
		padding: 51px 20px 53px;
		text-align: center;
		font-size: 18px;
		line-height: 28px;
		width: 430px;
		margin: 0 0 40px;

		@include media('<desktop') {
			width: 48%;
		}

		&.style-dark{
			border-color: $mine-shaft;
			.heading{
				color: $mine-shaft;
			}
			.btn{
				color: $mine-shaft;
				border-color: $mine-shaft;

				&:hover{
					color: $tango;
					border-color: $tango;
				}
			}
		}

		&:nth-child(2n){
			float: right;
			clear: right;
		}

		ul{
			@extend %listreset;
			padding: 0 0 5px;
		}
		li{
			list-style-type: none;
			margin: 0 0 11px;
		}
		p{margin: 0 0 24px;}
		&.popup-active1{
			display: block;
		}
		.popup1{
			display: none;
			background: $white;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 50px 30px;

			@include media('<desktop') {
				padding: 30px 10px;
			}

			h2{
				font: 48px/54px $font-secondary;
				color: $tango;
				text-align: center;
				margin: 0 0 48px;
			}
			.btn-holder{
				width: 100%;
				text-align: center;
				> a{
					border: 1px solid $mountain-mist;
					text-transform: uppercase;
					display: inline-block;
					vertical-align: top;
					font: 16px/20px $font-secondary;
					color: $mountain-mist;
					min-width: 147px;
					text-align: center;
					padding: 14px 10px;
					text-decoration: none;
					margin: 0 9px;
					position: relative;

					&:hover{
						text-decoration: none;
						color: $mine-shaft;
						border-color: $mine-shaft;
					}

					&.btn-download{
						color: $tango;
						border-color: $tango;
						min-width: 359px;
						padding: 14px 20px 14px 45px;

						&:hover{
							color: $mine-shaft;
							border-color: $mine-shaft;
						}

						.icon-download{
							position: absolute;
							top: 50%;
							left: 20px;
							font-size: 22px;
							line-height: 1;
							margin: -11px 0 0;
						}
					}

					&.btn-download1{
						min-width: 216px;
						padding: 14px 10px;
						color: $tango;
						border-color: $tango;

						&:hover{
							color: $mine-shaft;
							border-color: $mine-shaft;
						}
					}
				}
			}
		}
	}
	.articles-holder{
		letter-spacing: -4px;
		margin: 0 -50px 39px;

		@include media('<desktop') {
			margin: 0 -20px 30px;
		}

		.article{
			width: 33%;
			display: inline-block;
			vertical-align: top;
			letter-spacing: 0;
			padding: 0 50px;
			font-size: 16px;
			line-height: 26px;

			@include media('<desktop') {
				padding: 0 20px;
			}
		}
		.icon-holder{
			color: $tango;
			font-size: 142px;
			margin: 0 0 38px;
		}
		h3{
			font: 24px/28px $font-secondary;
			text-transform: uppercase;
			margin: 0 0 17px;
		}
	}
	.heading{
		font-size: 18px;
		line-height: 24px;
		color: $cadmium-orange;
		font: 18px/24px $font-secondary;
		padding: 0 20px;
		margin: 0 0 24px;
		h2{
			font-size: 51px;
			line-height: 57px;
			font-weight: 400;
			margin: 0 0 29px;
		}
		.title{
			display: block;
			font-size: 30px;
			line-height: 34px;
			font-weight: normal;
		}
		.price{
			display: block;
			font-size: 64px;
			line-height: 68px;
		}
	}
	.text-wrap{
		max-width: 260px;
		margin: 0 auto;
		p{margin: 0 0 28px;}
	}
	em{
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		display: block;
		margin: -3px 0 35px;
	}
	.btn{
		border: 2px solid $cadmium-orange;
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		font: 16px/20px $font-secondary;
		padding: 13px 10px;
		text-decoration: none;
		min-width: 122px;

		&:hover{
			text-decoration: none;
			color: $mine-shaft;
			border-color: $mine-shaft;
		}
	}
}
.newsletter-form{
	width: 100%;
	padding: 2px 15px 0;
	margin: 0;
	.columns-holder{
		@extend %clearfix;
	}
	.column{
		float: left;
		width: 47%;

		+ .column{
			float: right;
		}

		> .form-input{
			width: 100%;
			margin: 0 0 30px;

			&.error{
				input[type="text"],
				input[type="email"]{
					border-color: #f00;
				}
			}
		}

		.row{
			@extend %clearfix;
			margin: 0 0 30px;
			.form-input{
				float: left;
				width: 40%;

				&.error{
					input[type="text"],
					input[type="email"]{
						border-color: #f00;
					}
				}

				+ .form-input{
					float: right;
					width: 57%;
				}
			}
		}
	}
	input[type="text"],
	input[type="email"]{
		width: 100%;
		border: 1px solid $mine-shaft;
		font: 16px/21px $font-secondary;
		padding: 12px 16px;
		margin: 0;
		display: block;
		color: $mine-shaft;
		height: 47px;
		background: $white;
		outline: none;

		@include placeholder {
			color: $mountain-mist;
		}

		&:focus{
			border-color: #ff9900;
			box-shadow: 0 0 0 2px #ff9900;
			border-radius: 2px;
		}
	}
	.radio-list{
		@extend %clearfix;
		@extend %listreset;
		padding: 0 !important;
		margin: 0 0 30px !important;
		li{
			list-style-type: none;
			float: left;
			width: 48.4%;
			position: relative;
			height: 47px;
			margin: 0 !important;

			+ li{
				float: right;

				label{
					&:before{
						content: "\e607";
					}
				}
			}
		}
		.jcf-radio{
			width: 100%;
			height: 47px;
			border-radius: 2px;
			border: 1px solid $mountain-mist;

			&.jcf-checked{
				background: #ff9900;
				border-color: #ff9900;

				+ label{
					color: $white;
				}
			}
		}
		label{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			text-align: center;
			font: 16px/21px $font-secondary;
			padding: 13px 10px;
			color: $mountain-mist;

			&:before{
				content: "\e608";
				font-family: "icomoon";
				font-size: 26px;
				line-height: 1;
				display: inline-block;
				vertical-align: middle;
				margin: -3px 22px -3px -5px;
			}
		}
	}

	.check-holder{
		margin: 0 0 41px;
		position: relative;

		@include media('<widescreen') {
			text-align: left;
		}
	}

	.tooltip{
		text-decoration: none;
		color: #cdcdcd;
		display: inline-block;
		vertical-align: middle;
		font-size: 26px;
		line-height: 1;
		margin: 0 0 0 6px;

		&:hover{
			text-decoration: none;
			color: $cadmium-orange;
		}
	}
	.tooltip-block{
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	.tooltip-text{
		font-size: 14px;
		line-height: 20px;
		background: #dfdfdf;
		padding: 15px 20px 0;
		width: 310px;
		position: absolute;
		top: -20px;
		left: 50px;
		z-index: 9;
		text-align: left;
		display: none;

		@include media('<desktop') {
			width: 210px;
			font-size: 12px;
			line-height: 16px;
		}

		&:before{
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 12px 10px 0;
			border-color: transparent #dfdfdf transparent transparent;
			position: absolute;
			top: 25px;
			left: -12px;
		}

		p{
			margin: 0 0 15px;
			mark{
				color: #ff9900;
			}
		}
	}
	.captcha{
		margin: 0 0 29px;
	}
}
.partners-block{
	background: #1d1d1d;
	@extend %clearfix;
	.container-holder{
		padding: 36px 30px;
		max-width: 1008px;

		@include media('<desktop') {
			padding: 36px 10px;
		}
	}
	.block{
		@extend %clearfix;
		overflow: hidden;
		color: $white;
		margin: 0 0 24px;
		.logo{
			float: left;
			width: 228px;
			padding: 13px 0 0;
			margin: 0 27px 0 0;
		}
		.text-holder{
			overflow: hidden;
			font: 32px/40px $font-secondary;
			p{margin: 0;}
		}
	}
	.logo-list{
		@extend %listreset;
		text-align: center;
		li{
			list-style-type: none;
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;
		}
		a{
			&:hover{
				text-decoration: none;
				opacity: 0.8;
			}
		}
	}
}
.contact-section{
	position: relative;
	color: $white;
	.container-holder{
		padding: 54px 30px 70px;
		@extend %clearfix;

		@include media('<desktop') {
			padding: 54px 10px 70px;
		}
	}
	.contact-form{
		float: left;
		width: 42.4%;
		font-size: 24px;
		line-height: 28px;
		font-weight: bold;
		margin: 0;
	}
	h2{
		font: 48px/52px $font-secondary;
		margin: 0 0 8px;
	}
	p{margin: 0 0 24px;}
	.form-input{
		margin: 0 0 14px;
		border-radius: 3px;
		padding: 3px;
		overflow: hidden;

		&.error{
			input[type="text"],
			input[type="email"],
			textarea{
				box-shadow: 0 0 3px 3px #f00;
			}
		}
	}
	input[type="text"],
	input[type="email"],
	textarea{
		width: 100%;
		border: 0;
		background: $white;
		height: 45px;
		font: 16px/21px $font-secondary;
		padding: 12px 19px;
		color: $mine-shaft;
		display: block;
		margin: 0;
		@include placeholder {
			color: $mountain-mist;
		}

		&:focus{
			box-shadow: 0 0 3px 3px #ff9900;
		}
	}
	textarea{
		width: 100% !important;
		height: 187px;
		min-height: 187px;
	}
	.btn-holder{
		padding: 6px 0 0;
	}
	input[type="submit"] {
		border: 2px solid $white;
		background: transparent;
		color: $white;
		text-transform: uppercase;
		margin: 0;
		width: 250px;
		height: 50px;
		font: 16px/20px $font-secondary;
		padding: 13px 10px;
		text-align: center;
		float: right;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		&:hover{
			text-decoration: none;
			opacity: 0.8;
		}
	}
	.contact-info{
		float: right;
		display: table;
		width: 35%;
		font-size: 18px;
		line-height: 24px;
		.holder{
			display: table-cell;
			vertical-align: bottom;
			text-align: right;
		}
		.title{
			font-size: 25px;
			line-height: 30px;
			display: block;
			margin: 0 0 21px;
		}
		p{margin: 0 0 4px;}
		.tel{
			text-decoration: none;
			color: $white;
			font-weight: bold;
			font-size: 25px;
			line-height: 30px;
			position: relative;

			&:hover{
				color: $tango;
			}

			&:before{
				content: "\e601";
				font-family: "icomoon";
				font-size: 26px;
				line-height: 1;
				display: inline-block;
				vertical-align: middle;
				color: $tango;
				margin: 0 10px 0 0;
			}
		}
	}
}
.blog-block{
	text-align: center;
	width: 100%;
	padding: 53px 0;
	h2{
		font: 48px/52px $font-secondary;
		margin: 0 0 31px;
	}
	.carousel{
		position: relative;
		overflow: hidden;
		text-align: left;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		padding: 0 70px;
		word-wrap: break-word;

		@include media('<desktop') {
			padding: 0 40px;
		}

		.mask-container{
			max-width: 1110px;
			margin: 0 auto 65px;
		}
		.mask{
			position: relative;
			overflow: hidden;
			width: 100% !important;
		}
		.slideset{
			width: 100% !important;
			float: left;
			white-space: nowrap;
			letter-spacing: -4px;
		}
		.slide{
			width: 33.333% !important;
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			text-align: left;
			letter-spacing: 0;
			padding: 0 40px;

			@include media('<desktop') {
				padding: 0 10px;
			}
		}
		.btn-prev,
		.btn-next{
			position: absolute;
			top: 45%;
			left: 5px;
			z-index: 4;
			font-size: 80px;
			line-height: 1;
			margin: -40px 0 0;
			text-decoration: none;
			color: $mine-shaft;

			@include media('<desktop') {
				left: -10px;
			}

			&:hover{
				text-decoration: none;
				color: $cadmium-orange;
			}
		}
		.btn-next{
			left: auto;
			right: 13px;

			@include media('<desktop') {
				right: -10px;
			}
		}
		.img-holder{
			width: 100%;
			margin: 0 0 21px;
			img{
				width: 100%;
			}
		}
		time{
			font-size: 16px;
			line-height: 20px;
			color: $cadmium-orange;
			display: block;
			margin: 0 0 10px;
		}
		h3{
			font: 22px/28px $font-secondary;
			margin: 0 0 7px;

			a{
				text-decoration: none;
				color: $mine-shaft;

				&:hover{
					text-decoration: none;
					color: $cadmium-orange;
				}
			}
		}
		p{margin: 0 0 28px;}
		.btn{
			font: 16px/21px $font-secondary;
			text-transform: uppercase;
			display: inline-block;
			vertical-align: top;
			padding: 10px 30px 10px 18px;
			min-width: 157px;
			border: 2px solid $mine-shaft;
			color: $mine-shaft;
			text-decoration: none;
			text-align: left;
			position: relative;

			&:hover{
				text-decoration: none;
				color: $cadmium-orange;
				border-color: $cadmium-orange;
			}

			.icon-chevron-right{
				font-size: 22px;
				line-height: 1;
				position: absolute;
				top: 50%;
				margin: -11px 0 0;
				right: 10px;
			}
		}
	}
	.btn-holder{
		text-align: center;
		width: 100%;
		padding: 0 0 11px;
	}
	.btn-all{
		font: 16px/20px $font-secondary;
		color: $white;
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		background: #ff6600;
		padding: 15px 10px;
		text-align: center;
		min-width: 283px;
		text-decoration: none;

		&:hover{
			text-decoration: none;
			background: $mine-shaft;
		}
	}
}
#footer{
	width: 100%;
	border-width: 1px 0 10px;
	border-style: solid;
	border-color: #ccc 0 $mine-shaft;
	&.popup-active1{
		.popup1{
			max-height: 99999px;
			opacity: 1;
			visibility: visible;
		}
	}
	&.popup-active2{
		.popup2{
			max-height: 99999px;
			opacity: 1;
			visibility: visible;
		}
	}
	.popup1,
	.popup2{
		width: 100%;
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		display: block !important;
		transition: all 0.4s linear;
		font: 14px/20px $font-secondary;
		border-bottom: 1px solid $mine-shaft;
		.text-holder{
			padding: 40px 30px;
			max-width: 1030px;
			margin: 0 auto;
		}
		.title{
			display: block;
			font-size: 30px;
			line-height: 34px;
			margin: 0 0 20px;
		}
		p{margin: 0 0 20px;}
		.sub-title{
			display: block;
			font-size: 24px;
			line-height: 28px;
			margin: 0 0 30px;
		}
		strong{
			display: block;
			margin: 0 0 20px;
		}
		address{
			font-style: normal;
		}
	}
	.container-holder{
		max-width: 1096px;
		padding: 19px 30px 20px;
		@extend %clearfix;

		@include media('<desktop') {
			padding: 19px 10px 20px;
		}
	}
	.logo-block{
		float: left;
		font-size: 12px;
		line-height: 16px;
		margin: 0 0 0 -60px;
		.footer-logo{
			display: inline-block;
			vertical-align: middle;
			width: 166px;
			margin: 0 12px 0 0;
		}
		span{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.footer-links{
		@extend %listreset;
		float: right;
		font-size: 12px;
		line-height: 16px;
		padding: 10px 0;
		li{
			float: left;
			list-style-type: none;

			+ li{
				margin: 0 0 0 30px;
			}
		}
		a{
			text-decoration: none;
			color: #ff6600;

			&:hover{
				text-decoration: none;
				color: $mine-shaft;
			}
		}
	}
}


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: $mine-shaft;
	color: #444;
	text-shadow: none;
	// -webkit-border-radius: 4px;
	//    -moz-border-radius: 4px;
	//         border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	// -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	//    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	//         box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('images/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('images/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;

	&:hover{
		opacity: 0.8;
	}
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('images/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('images/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('images/fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('images/fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}


/* custom radio styles */
.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #777;
	border-radius: 9px;
	margin: 0 3px 0 0;
	height: 16px;
	width: 16px;
}
.jcf-radio span{
	display:none;
	position:absolute;
	top:3px;
	left:3px;
	right:3px;
	bottom:3px;
	border-radius:100%;
}
.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-radio.jcf-checked span {display:block;}
/* common custom form elements styles */
.jcf-disabled {background: #ddd !important;}

/* custom checkbox styles */
.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 2px solid #777;
	margin: 0 16px 0 0;
	height: 33px;
	width: 33px;
	border-radius: 3px;

	&.jcf-checked{
		background: $cadmium-orange;
		border-color: $cadmium-orange;
	}
}
.jcf-checkbox span{
	position:absolute;
	display:none;
	height:12px;
	width:20px;
	top:50%;
	left:50%;
	margin:-13px 0 0 -10px;
	border:3px solid $white;
	border-width:0 0 5px 5px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}
:root .jcf-checkbox span {margin:-8px 0 0 -9px;}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}